header {
    background-color: rgba(11, 118, 240, 0.349);
    font-size: 1.5em;
    text-align: left;
    padding: 22px;
    border-radius: 5em;
}

body {
    padding: 22px;
}

footer {
    padding: 22px;
    background-color: rgba(11, 118, 240, 0.349);
    color: rgb(233, 223, 223);
    font-size: 1.2em;
    font-family: 'Luckiest Guy', cursive;
    border-radius: 5em;
}

h1 {
    color: rgb(248, 248, 248);
    font-family: 'Luckiest Guy', cursive;
}

h2 {
    color:  rgb(26, 170, 214);
    font-size: 2.8em;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}

h3 {
    color:  rgb(26, 170, 214);
    font-size: 2em;
    font-family: 'Abel', sans-serif;
}

p {
    font-family: 'Comic Neue', cursive;
    color: black;
    font-size: 1.6em;
    text-align: justify;
}

a {
    color: rosybrown;
}


.picture {
    width: 380px;
    height: auto;
    border: 7px solid rgb(199, 196, 196);
}

main {
    display: grid;
    column-gap: 12em;
    font-size: 0.8rem;
    padding: 22px;
}

.principles {
    grid-template-columns: 1fr;
}